.login-content {
    width: 100%;
    padding: 15%;
    margin: auto;
    background-color: #333;
    height: 100vh;
}

.btn-login{
    background-color: #111;
    color: #fff;
}

.btn-login:hover{
    background-color: #f21667;
    color: #fff;
}

.opcoes-login a{
    text-decoration: none;
    color: #fff;
    transition: .3s ease-in;

}

.opcoes-login a:hover{
    color: #f21667;

}
