.form-login{
    max-width: 650px;
}

.btn-login{
    background-color: #111;
    color: #fff;
}

.btn-login:hover{
    background-color: #f21667;
    color: #fff;
}

.form-cadastro{
    width: 100%;
    padding: 15%;
    margin: auto;
    background-color: #333;
    height: 100vh;
}