.card{
    min-width: 100%;
    min-height: 100%;
    
}

.btn{
    background-color: #111;
    color: #fff;
}

.btn:hover{
    background-color: #f21667;
    color: #fff;
}



.nome-grupo{
    width: 100%;
}

.icon-xzin{
    position: absolute;
    top: -7px;
    right: -7px;
    color:  red;
}

.icon-xzin:hover{
    color:#f23088;
}

